.centradoinfo{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    padding: 4%;
  }

  
  .imageinfo{
    display: flex; 
    position: fixed; 
     justify-content: center;
    width: 99%;
    z-index: -1;
    opacity: 0.2;
  
  }

  @media(max-width: 550px){
    .centradoinfo{
        font-size: small;
    }}
    
    @media(max-width: 550px){
        h1{
            font-size: x-large;
        }}
