.inv{
    padding: 20px;
    padding-right: 6%;
    flex-direction: column;
}

.centrPrinc{
    display: flex;
    position: relative;
    justify-content: end;
}

.centr{
    display: flex;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: groove;
    border-radius: 50%;
    width: fit-content;
    background-color: rgb(11, 221, 106);
}

.centrdos{
    display: flex;
    position: relative;
    align-items: center;
}

@media(max-width: 550px){
.inv, h5 {
    font-size: small;
}}
